.statistics {
    width: 600px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
}
.title {
    margin: 0;
    text-align: center;
    padding: 20px;
}

.wraper {
    width: 600px;
    margin: auto;
}
.list {
    width: 300px;
    list-style: none;
    display: flex;
    padding: 0;
    text-align: center;
    margin: auto;
}
.item {
    width: 75px;
    height: 60px;
    border: 1px solid black;
}

.label {
    font-size: 13px;
    height: 20px;
    display: block;
    color: antiquewhite;
    padding-top: 10px;

}

.percentage {
    height: 30px;
    font-size: 20px;
    display: block;
    color: antiquewhite;
}